<p style="color: green"><%= notice %></p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= link_to post.title, post.permalink_path %>
    <small>
    <% if !post.published? %>
      <b>(draft)</b>
    <% end %>
    <% if user_signed_in? %>
      | <%= link_to "Edit", edit_admin_post_path(post) %>
    <% end %>
    </small>
    <br>
  <% end %>
</div>